:host {
  .spt {    
      margin-top: 50px !important;
    } 
     .sp {    
      margin-top: 60px !important;
    } 
    .title{
      margin-left: 20px;
      border-bottom: 1px solid #d2d7da;
    }
    .centrar {
      padding: 20px;

    }
}
