:host {
  .border-light-green {
    border-left: 4px solid #37efba;
  }
  .border-green {
    border-left: 4px solid #1eb980;
  }
  .border-dark-green {
    border-left: 4px solid #045d56;
  }
  .border-orange {
    border-left: 4px solid #ff6859;
  }
  .border-salmon {
    border-left: 4px solid #ff857c;
  }
  .border-light-yellow {
    border-left: 4px solid #ffdc78;
  }
  .border-dark-yellow {
    border-left: 4px solid #ffac12;
  }
  .border-skin {
    border-left: 4px solid #ffd7d0;
  }
  .border-app {
    border-left: 4px solid #ffcf44;
  }
  .border-facebook {
    border-left: 4px solid #3b5998;
  }
  .border-google {
    border-left: 4px solid #dc4a38;
  }
}
